{% extends 'base.html.twig' %}

{% block title %}PDF Faktory - {{ tool.name }}{% endblock %}

{% block body %}
    <div {{ react_component('HtmlPage', {
        tool: tool,
        allTools: allTools,
        user: headerUser
    }) }}>
        Loading...
    </div>
{% endblock %}
