{% extends 'base.html.twig' %}

{% block title %}PDF Faktory - Convertisseur{% endblock %}

{% block body %}
    <div {{ react_component('ToolsPage', {
        tools: tools,
        allTools: allTools|default(tools),
        user: headerUser
    }) }}>
        Loading...
    </div>
{% endblock %}
