{% extends 'base.html.twig' %}

{% block title %}Historique{% endblock %}

{% block body %}
    <div {{ react_component('HistoriquePage', {
        generations: generations,
        tools: tools,
        user: app.user ? {
            firstname: app.user.firstname,
            lastname:  app.user.lastname,
            email:     app.user.email,
            isBasic:   is_granted('ROLE_BASIC'),
            isPremium: is_granted('ROLE_PREMIUM')
        } : null
    }) }}>
        Loading...
    </div>
{% endblock %}