<h1>5<span class="text-red">0</span>0</h1>
        <h2>Erreur <span class="text-red">interne</span></h2>
        <p>Oups ! Nos serveurs ont rencontré un problème inattendu. Nos équipes sont sur le coup.</p>
        
        <a href="/" class="btn">
            Retour à l'accueil
            <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
            </svg>
        </a>
