{% extends 'base.html.twig' %}
{% block title %}Paiement annulé{% endblock %}
{% block body %}
    <div {{ react_component('PaymentCancelPage', { user: headerUser }) }}>Loading...</div>
{% endblock %}
